{% extends "base.html" %}

{% block include-css %}
    {% load staticfiles %}
    <link href="{% static "css/post_list.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Список постов{% endblock %}

{% block content %}


    {% load widget_tweaks %}
    <form action="" class="content__form">
        {{ form.search }}
        {{ form.sort_field|add_class:"btn-group" }}
        <input type="submit" class="btn btn-default">
    </form>

    <div class = "list-group">
        {% for post in object_list %}
            <a href="{% url "post:post_detail" pk=post.id %}" class="list-group-item">
                <div class="post_title center">{{ post.title }}</div>
                <div class="text">{{ post.text }}</div>

                <div class="item_container">
                    <div class="pub_date small">Дата создания: {{ post.pub_date }}</div>
                    <div class="comments_count"><i><small>Количество комментариев: {{ post.comments_count }}</small></i></div>
                    <div class="change_date small">Дата последнего редактирования: {{ post.change_date }}</div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}

